<article class="summary-item" aria-labelledby="project-name">
  <div class="summary-item-content">
    <h2 class="govuk-heading-m" role="heading" id="project-name">Project name</h2>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <p><%= project.name %></p>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <% if project.draft? %>
          <% if can_edit_project_sections?(project) -%>
            <div class="change-link">
              <%= link_to pafs_core.project_step_path(id: project.to_param, step: :project_name) do -%>
                Change<span class="govuk-visually-hidden"> the project name</span>
              <% end -%>
            </div>
          <% end -%>
        <% end -%>
      </div>
    </div>
  </div>
</article>
