<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-two-thirds">
    <%= t(".find_out_more") %> <%=link_to t(".find_out_more_link"), "https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1026844/Partnership_funding_supporting_guidance_for_OM4.pdf", target: :_blank %>
  </div>
</div>
