<% content_for :title, t(".heading") %>

<div class="step-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render partial: "pafs_core/projects/steps/funding_calculator_summary",
                 locals: { project: @project } %>
    </div>
  </div>
</div>
