<% content_for :title, t(".heading") %>

<div class="step-container">
  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-two-thirds">
      <%
        partial = if @project.funding_calculator_file_name.present?
                    "summary"
                  else
                    "upload"
                  end
      %>
    <%= render partial: "pafs_core/projects/steps/funding_calculator_#{partial}", locals: { project: @project } %>
    </div>
  </div>
</div>
