<% content_for :title, t(".heading") %>

<%= render partial: 'shared/yes_no_form',
  locals: {
    project: @project,
    yes_no_field: :natural_flood_risk_measures_included,
    heading: t(".heading")
  }
%>
<div class="grid-row">
  <div class="column-two-thirds">
    <%= t(".find_out_more") + " " %>
    <%= link_to t(".advice_link") + " ", "https://www.gov.uk/flood-and-coastal-erosion-risk-management-research-reports/working-with-natural-processes-to-reduce-flood-risk", target: :_blank %>
    <%= t("external_link_message") %>
  </div>
</div>
